<div class="container-fluid container-details">
  <div class="container">
    <h1 class="title pt-5">{{listItem.title}}</h1>
    <div class="details mt-5">
      <div class="header d-flex align-items-center">
        <div class="operation">
          <fa name="edit color-operation"></fa>
          <span>Edit Article</span>
        </div>
        <div class="operation ml-2">
          <fa class="color-operation" name="star"></fa>
          <span>Add to favorites</span>
        </div>
        <div class="operation moderation ml-auto color-operation">
          <fa class="icon-moderation" name="columns"></fa>
          <div>On Moderation</div>
        </div>
      </div>
      <div class="description mt-3" [innerHTML]="listItem.body | sanitizeHtml">
      </div>
    </div>
  </div>
</div>
